@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AOBA</h1>
    <p>Consumindo API Lotéricas</p>

<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <a class="btn btn-outline-success me-2" role="button" asp-controller="Home" asp-action="MegaSena">Mega Sena</a>
    <a class="btn btn-outline-success me-2" role="button">LotoFacil</a>
    <a class="btn btn-outline-success me-2" role="button">Federal</a>
    <a class="btn btn-outline-success me-2" role="button">Lotomania</a>
    <a class="btn btn-outline-success me-2" role="button">Quina</a>
    <a class="btn btn-outline-success me-2" role="button" >Lotogol</a>

  </form>
</nav>
</div>
